.container__pagination{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: flex-end;

}
.pagination {
  display: inline-block;

}

.pagination a {
  color: black;
  float: left;
  padding: 0.5rem 1rem;
  margin: 0 0.4rem;
  text-decoration: none;
  font-weight: bold;
}

.pagination a.active {
  background-color: #000000;
  border-radius: 0.7rem;
  color: white;
}

.inactive i {
  color: gray;
}

.next {
  background-color: #E6EEFB;
  border-radius: 0.7rem;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}
