@import  url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import  url(./styles/reset.scss);
@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';

* {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  box-sizing: 0;
  box-sizing: border-box;

}

html{
 height: 100vh;
 width: 100vw;
}

body{
height: 100%;
width: 100%;
}
@media screen and (max-width: 40em) {
  body{
    background-color: #ff3d3d;
  }
}
