<div class="nav__container">
  <div class="nav__titulo">
  <img class="nav__titulo__logo" src="../../../assets/iulogobgt.png" alt=""> iuPayme
  </div>

  <div class="nav__cuerpo">
  <ul>
    <li class="nav__item"><a class="nav__item__a" routerLink="/login"><i class="fa-solid fa-house-user"></i> Home <i class="fa-solid fa-angle-right"></i></a></li>
     <li class="nav__item"><a class="nav__item__a" href="#"><i class="fa-solid fa-wallet"></i> Walet <i class="fa-solid fa-angle-right"></i></a></li>
     <li class="nav__item"><a class="nav__item__a" href="#"><i class="fa-solid fa-money-bill"></i> Deposit-withdaw <i class="fa-solid fa-angle-right"></i></a></li>
     <li class="nav__item"><a class="nav__item__a" href="#"><i class="fa-solid fa-right-left"></i>  Trasnfers <i class="fa-solid fa-angle-right"></i></a></li>
     <li class="nav__item"><a class="nav__item__a" href="#"><i class="fa-solid fa-hand-holding-dollar"></i> Pay Services <i class="fa-solid fa-angle-right"></i></a></li>
     <li class="nav__item"><a class="nav__item__a" href="#"><i class="fa-solid fa-mobile"></i> Phone Recharge <i class="fa-solid fa-angle-right"></i></a></li>
     <li class="nav__item"><a class="nav__item__a" href="#"><i class="fa-solid fa-credit-card"></i> My iuPayme Card <i class="fa-solid fa-angle-right"></i></a></li>
     <li class="nav__item"><a class="nav__item__a" href="#"><i class="fa-sharp fa-solid fa-chart-line"></i> Movements <i class="fa-solid fa-angle-right"></i></a></li>
    <hr>
     <li class="nav__item"><a class="nav__item__a" href="#"><i class="fa-solid fa-user"></i> Sub-Accounts <i class="fa-solid fa-angle-right"></i></a></li>
     <li class="nav__item"><a class="nav__item__a" href="#"><i class="fa-solid fa-address-book"></i> Favorite contacts <i class="fa-solid fa-angle-right"></i></a></li>
     <li class="nav__item"><a class="nav__item__a" href="#"> <i class="fa-solid fa-message"></i> chat <i class="fa-solid fa-angle-right"></i></a></li>
  </ul>
  <hr>

<div class="div__switch">
  <label class="switch"> <input type="checkbox">
    <span class="slider"></span>
  </label>
  <div>Clear</div>
  <!-- Implementar Dark mode -->
</div>
</div>
</div>

  <nav class="mobile-nav">
      <a href="#" class="bloc-icon">
        <i class="fa-solid fa-house"></i>
      </a>
      <a href="#" class="bloc-icon">
        <i class="fa-solid fa-gear"></i>
      </a>
      <a href="#" class="bloc-icon">
        <i class="fa-solid fa-money-bill-transfer"></i>
      </a>
      <a href="#" class="bloc-icon">
        <i class="fa-solid fa-user"></i>
      </a>
  </nav>








